@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-4
           md:px-6
           xl:px-10;
  }

  .container-constrained {
    @apply max-w-md mx-auto
           lg:max-w-[74.625rem]
           xl:max-w-[76.625rem];
  }
}
